h1{
    color: gray;/*color name*/
    color: #808080;/*fallback*/
    background-color: #0f0c0c;/*hex code*/
}
h1{
    padding: 20px;
    margin: -10px;
    border: 2px solid black;
    border-radius: 10px;
}
h2,h3,summary{
    color: color-mix(in srgb, black 50%, white 50%);/*color mix*/
}
main {
    color: hsl(206, 0%, 100%);/*hsl*/
}
body{
    background-color: rgb(24, 26, 28);/*rgb*/
}
label{
    color: color(display-p3 1 0.5 0);/*widerr-gamut color*/
}
#picture {
    text-align: center;
    padding: 1.5cm;
    margin: 0px;
}
#picture .image {
    width: 20%;
    height: auto;
}
#Recording{
    text-align: center;
    padding-top: 0.5in;
    padding-bottom: 0.5in;
    padding-left: 0.5in;
    padding-right: 0.5in;
    margin: 1px;
    width: 80vh;
}
#Recording .video{
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 1px;
    margin-right: 1px;
    padding: 10px;
    width: 50vw;
    height: auto;
}
#list{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#attendance b{
    font-size: 30px;
}
#attendance ul{
    background-color: #464343;
    width: 40%;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    border-radius: 10px;
}
#attendance #absent li{
    text-decoration: line-through;
}
.inline{
    display: block;
}
.image:hover{
    display: none;
}